.introduction-section {
  height: 1000px;
  margin-top: 120px;
  margin-left: 150px;
  animation-name: fadeInOut;
  animation-duration: 5s;
}

.introduction-message,
.introduction-description {
  color: white;
  margin-top: 40px;
}

.introduction-message {
  font-family: Inter, sans-serif;
  background-image: linear-gradient(190deg, #78e4ff, #ff48fa);
  background-clip: text;
  color: transparent;
  font-size: 80px;
  line-height: 100px;
  font-weight: bold;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.introduction-description {
  font-family: Inter, sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

p {
  color: white;
}

.discover-projects-button {
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 5px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #1d1e20 inset;
}

.discover-projects-textbutton {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .introduction-section {
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
  }
  .introduction-message {
    font-size: 40px;
  }

  .discover-projects-textbutton {
    text-align: justify;
  }
}
