.introduction-section {
  height: 1000px;
  margin-top: 120px;
  margin-left: 150px;
}

.introduction-message,
.introduction-description {
  color: #bbb6a5;
  margin-top: 40px;
}

.introduction-message {
  font-family: Inter, sans-serif;
  background-image: linear-gradient(to right, #b18742, white);
  background-clip: text;
  color: transparent;
  font-size: 80px;
  line-height: 100px;
  font-weight: 900;
}

.introduction-description {
  font-size: 25px;
  color: white;
}

p {
  color: white;
}

.learn-more-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.learn-more-text {
  color: #b18742;
  margin-right: 20px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .introduction-section {
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
  }
  .introduction-message {
    font-size: 40px;
  }
}
