.back-to-top-section {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  left: 90px;
  right: 0;
  bottom: 0;
  padding: 40px;
}
.back-to-top-text {
  color: #ff48fa;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}
