.project-container {
  color: white;
  margin-left: 150px;
  height: 2500px;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-title {
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(101deg, #78e4ff, #ff48fa);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 60px;
  margin-right: 15px;
}

.github-icon {
  cursor: pointer;
  margin-top: 13px;
}

.project-text {
  margin-top: 60px;
  color: #ff48fa;
  font-size: 20px;
  font-weight: 700;
}

.container {
  padding: 2px 16px;
}

.ticketing-section {
  display: flex;
  margin-right: 100px;
  margin-top: 50px;
}

.tech-description {
  font-weight: bold;
  color: white;
}

.ticketin-paragraph {
  font-size: 18px;
}

.ticketing-section h2 {
  color: #78e4ff;
  font-size: 30px;
}

.tripper {
  flex: 1;
}

.social {
  flex: 1;
  margin-right: 50px;
}

.tripper-section {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 100px;
  margin-top: 50px;
}

.social-section {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  margin-top: 50px;
}
.tripper-images {
  display: flex;
}

.tripper-section img,
.social-section img {
  width: 60%;
}
.tripper-section h2 {
  margin-left: 50px;
  color: #78e4ff;
  font-size: 30px;
}

.social-section h2 {
  color: #78e4ff;
  font-size: 30px;
}

.tripper-section p {
  margin-left: 50px;
}
.tripper-pitch {
  margin-top: 50px;
  font-style: italic;
}

blockquote p {
  content: '“';
  font-size: 1em;
  color: #ea4c89;
  font-weight: 600;
  left: -0.5em;
  top: -0.25em;
  line-height: 1;
}
.ticketing-section img {
  width: 60%;
}

.image-space {
  margin: 10px;
}

.hireme-button {
  display: flex;
  margin-top: 30px;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 5px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #1d1e20 inset;
}

.hireme-text {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .project-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    height: 2500px;
  }

  .project-title {
    margin-left: 0;
    font-size: 40px;
  }

  .ticketing-section {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    text-align: justify;
  }

  .ticketing-section img {
    width: 100%;
  }

  .tripper-section,
  .social-section {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    text-align: justify;
  }

  .tripper-section p,
  .tripper-section h2,
  .social-section p,
  .social-section h2 {
    margin-left: 0;
  }
  .tripper-images {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
    margin-right: 20px;
  }
  .tripper-images img {
    width: 50%;
  }
  .hireme-button {
    width: 60%;
  }
}
